@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
}

:root{
  /* Definir variables en CSS */
  --bg-yellow: #FFDF33;
  --bg-black: #000000;
  --bg-white: #FFFFFF
}

.bg-yellow{
  background-color: var(--bg-yellow);
  color:var(--bg-black);
  
}
.bg-black{
  background-color: var(--bg-black);
  color:var(--bg-yellow);
}
.bg-white{
  background-color: var(--bg-white);
  color:var(--bg-black);
}

.text-yellow{
  color:var(--bg-yellow);
}
.text-black{
  color:var(--bg-black);
}
.text-white{
  color:var(--bg-white);
}

.carousel-inner {
  width:100%;
  height: 100%;
}

.footer{
  background-color:#000000;
  color: var(--bg-yellow);

  
  left: 0;
  bottom: 0;
  width: 100%;
}




/*Ricardo*/

.createacount{
  font-size: 15px;
  padding-top: 20px;
  text-align: center;
}

.registrar{
  padding-left: 5px;
  color: var(--bg-yellow);
}